@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.post-container {
  padding: 8px;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.post-content {
  padding: 20px;
  background-color: #ffffff; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem; 
  max-width: 600px;
  width: 100%; 
  word-wrap: break-word; 
  white-space: normal; 
}

.post-header {
  display: flex;
  margin-bottom: 16px;
}

.post-header img {
  display: flex;
  width: 150px; /* Ajustez la largeur selon vos besoins */
  height: 150px; /* Ajustez la hauteur selon vos besoins */
  border-radius: 50%; /* Assurez-vous que l'image est ronde */
  object-fit: cover; /* Pour s'assurer que l'image couvre bien l'espace */
}

.post-header div {
  margin-left: 8px; 
  margin-top: 2px; 
}

.post-header .username {
  font-size: 1rem; 
  font-weight: 500; 
  color: #000000; 
}

.post-header .timestamp {
  font-size: 0.875rem; 
  color: #2C2E3A; 
  font-weight: 300; 
}

.post-body {
  font-size: 1rem; 
  color: #2C2E3A;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.post-footer .likes {
  display: flex;
  align-items: center;
}

.post-footer .likes svg {
  padding: 2px;
  height: 24px;
  width: 24px;
  border-radius: 9999px;
  background-color: #ffffff;
}

.post-footer .likes span {
  margin-left: 4px;
  color: #6b7280;
  font-weight: 300;
}

.post-footer .comments {
  margin-left: 4px;
  color: #6b7280;
  font-weight: 300;
}

.p-8 {
  padding: 2rem;
}

.bg-gray-50 {
  background-color: #f9fafb;
}

.dark\:bg-gray-900 {
  background-color: #1a202c;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.form-background {
  background-color: #2C2E3A;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 0; 
}

.post {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.like-button {
  background-color: #605CEB;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer; 
}
.like-button:hover {
  background-color: #d7dbd6;
  color: white; 
}
